@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
:root {
  --bs-primary: #2A5F8B;
  --bs-text-primary: #2A5F8B;
  --bs-custom-primary: #2A5F8B;
  --bs-text-secondary: #2A4A8C;
  --bs-custom-light: #F5F8FA;
  --bs-table-light: #F9FAFB;
  --bs-gray-50: #757575;
  --bs-custom-gray: #506373;
  --bs-stroke: #DAE7F2;
  --bs-custom-dark: #142533;
  --bs-gray-400: #DAE7F2;
  --bs-gray-900: #414141;
  --bs-primary-active: #2A4A8C;
  --bs-custom-border-color: #DAE7F2;
  --bs-border-color: #DAE7F2;
  --bs-table-striped: #F5F8FA;
  --bs-success: #2A8C52;
  --bs-custom-placeholder: #8799A8;
}

.bg-light {
  background-color: var(--bs-custom-light) !important;
}

.bg-custom-primary {
  background-color: var(--bs-custom-primary);
  color: var(--bs-white);
}

.text-custom-primary {
  color: var(--bs-custom-primary);
}

.bg-custom-info {
  background-color: var(--bs-custom-info);
  color: var(--bs-white);
}

.text-custom-info {
  color: var(--bs-custom-info);
}

.bg-custom-light-primary {
  background-color: var(--bs-custom-light-primary) !important;
}

.bg-custom-light-green {
  background-color: var(--bs-custom-light-green) !important;
}

.bg-custom-orange {
  background-color: var(--bs-custom-orange);
  color: var(--bs-white);
}

.text-custom-orange {
  color: var(--bs-custom-orange);
}

.bg-custom-orange:hover {
  background-color: var(--bs-custom-orange);
  color: var(--bs-white);
}

.text-gray-50 {
  color: var(--bs-gray-50);
}

.text-custom-gray {
  color: var(--bs-custom-gray) !important;
}

.bg-custom-light {
  background-color: #fafafa;
}

.back-w {
  background-color: #fff;
}

.bg-custom-table-light {
  background-color: var(--bs-table-light);
}

.text-stroke {
  color: var(--bs-stroke);
}

.text-custom-dark {
  color: var(--bs-custom-dark);
}

.text-gray-900 {
  color: var(--bs-gray-900) !important;
}

.border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-custom-border-color) !important;
}

/* ---------- Custom font ---------- */
@font-face {
  font-family: "Kannada";
  src: url("../fonts/Kannada/KannadaMN.ttc") format("woff2"), url("../fonts/Kannada/KannadaMN.ttc") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kannada";
  src: url("../fonts/Kannada/kannada-mn-bold.ttf") format("woff2"), url("../fonts/Kannada/kannada-mn-bold.ttf") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* ---------- Custom variables font ---------- */
/* ===== Icomoon font ===== */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  display: inline-flex;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Dashboard:before {
  content: "\e908";
}

.icon-Setting:before {
  content: "\e909";
}

.icon-down:before {
  content: "\e907";
}

.icon-file:before {
  content: "\e902";
}

.icon-good:before {
  content: "\e906";
}

.icon-info-circle:before {
  content: "\e90a";
}

.icon-right-left:before {
  content: "\e905";
}

/*========================================
/* general style
========================================*/
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-transform: capitalize;
  /*    font-family: "Lato", sans-serif; */
  /*  font-family: "Kannada", sans-serif; */
  font-family: "Baloo 2", sans-serif;
}

.form-select {
  color: var(--bs-custom-placeholder);
}

.form-control {
  border: 1px solid var(--bs-gray-400);
}
.form-control::-moz-placeholder {
  color: var(--bs-custom-placeholder);
  opacity: 1;
  font-size: 14px;
}
.form-control::placeholder {
  color: var(--bs-custom-placeholder);
  opacity: 1;
  font-size: 14px;
}

.vertical-line {
  display: inline-block;
  align-self: stretch;
  width: 2px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: 1;
  color: #EAECF0;
}

ul {
  list-style: none;
}

.card-border {
  border: 1px solid var(--bs-stroke) !important;
}

.table-border {
  border: 1px solid var(--bs-stroke) !important;
}

.table .custom-width {
  width: 14.28%;
}
.table th.custom-bg {
  background-color: #E0E0E0;
}
.table td.custom-bg {
  background-color: #DAE7F2;
}
.table .eye-icon {
  background-color: #DAE7F2;
}

.active > .page-link, .page-link.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped) !important;
}

/*========================================
/* Login Page
========================================*/
.form-control {
  font-weight: 400;
}

.login-page .left-page {
  background-color: rgba(0, 84, 235, 0.04);
  position: relative;
}
.login-page .left-page::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../assets/media/logos/Frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: -5px;
}
.login-page .show-password {
  right: 5px;
  top: 40px;
}

.toggle-password {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -25px;
}

.inputs input {
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid var(--bs-primary);
}

.form-select {
  border: 1px solid var(--bs-stroke);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--bs-custom-gray);
}

.select2-container--bootstrap5 .select2-search.select2-search--inline .select2-search__field::-moz-placeholder {
  color: var(--bs-text-primary);
}

.select2-container--bootstrap5 .select2-search.select2-search--inline .select2-search__field::placeholder,
.select2-container--bootstrap5 .select2-selection--single .select2-selection__placeholder,
.select2-container--bootstrap5 .select2-selection--single .select2-selection__rendered {
  color: var(--bs-text-primary);
}

.select2-container--bootstrap5 .select2-selection__arrow {
  display: none;
}

.filter-select .select2-container--bootstrap5 .select2-selection:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("../../media/Svg/Filter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #ffffff;
}

.validate {
  border-radius: 20px;
  height: 40px;
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  width: 140px;
}

/*========================================
/* layout & Sidebar
========================================*/
.app-content {
  background-color: #F5F8FA;
}

/* #kt_app_header_container {
    border-bottom: 1px solid #EAEAEA;
}
 */
#kt_app_sidebar_logo {
  margin: -1px 0;
  /*     border-bottom: 1px solid #EAEAEA; */
}

.app-sidebar .app-sidebar-logo-default {
  height: 50px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.app-sidebar .app-sidebar-logo {
  justify-content: center !important;
}
.app-sidebar .menu .menu-item .menu-link {
  /*   .menu-title {
        color: var(--bs-primary) !important;
    } */
}
.app-sidebar .menu .menu-item .menu-link.active {
  transition: color 0.2s ease;
  background-color: var(--bs-app-sidebar-light-menu-link-bg-color-active);
  color: var(--bs-custom-dark);
  border-right: 5px solid var(--bs-primary) !important;
}

[data-kt-app-layout=light-sidebar] .app-sidebar {
  background-color: var(--bs-app-sidebar-light-bg-color);
  border-right: 1px solid var(--bs-custom-border-color);
}

.user-img {
  border: 1px solid #F1F5F7;
  border-radius: 50% !important;
  padding: 2px;
}

.app-sidebar {
  background-color: #fff !important;
}
.app-sidebar .app-sidebar-toggle {
  box-shadow: 0px 8px 14px rgba(15, 42, 81, 0.04) !important;
  background-color: #ffffff !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-custom-border-color) !important;
}
.app-sidebar .app-sidebar-toggle .ki-black-left-lineant {
  left: 25px;
  color: rgb(165, 165, 165);
}

.language-switcher {
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  background: #F5F8FA;
  padding: 8px 0px;
  color: #9F9F9F;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon,
[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon .svg-icon,
[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon i {
  color: var(--bs-dark-active);
}

/*========================================
/* stepper
========================================*/
.stepper.stepper-pills .stepper-item .stepper-icon {
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--bs-stroke);
  color: var(--bs-stroke);
}
.stepper.stepper-pills .stepper-item .stepper-icon .stepper-number {
  color: var(--bs-stroke);
}
.stepper.stepper-pills .stepper-line {
  width: 150px !important;
  border-left: none !important;
  border-top: 2px solid var(--bs-stroke) !important;
  margin: 0px auto !important;
  position: relative !important;
  top: 20px !important;
}
.stepper.stepper-pills .stepper-item.current .stepper-icon {
  transition: color 0.2s ease;
  background-color: #ffffff;
  border: 1px solid var(--bs-text-secondary);
  color: var(--bs-text-secondary);
  border-radius: 50%;
}

.stepper.stepper-pills .stepper-item.current .stepper-icon .stepper-number {
  color: var(--bs-text-secondary);
  font-size: 0;
  background: var(--bs-text-secondary);
  padding: 8px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
}

.stepper.stepper-pills .stepper-item.completed .stepper-icon, .stepper.stepper-pills .stepper-item.current.mark-completed:last-child .stepper-icon {
  transition: color 0.2s ease;
  background-color: var(--bs-success);
  border: var(--bs-stepper-icon-border-completed);
  border-radius: 50%;
}

.stepper.stepper-pills .stepper-item.completed .stepper-line {
  border-top: 2px solid var(--bs-success) !important;
}

/*========================================
/* ChartV1
========================================*/
.ChartV1,
.barChart {
  background-color: rgb(249, 250, 251);
}

.ChartV2 {
  background-color: rgba(254, 58, 70, 0.08);
}

@media (min-width: 992px) {
  [data-kt-app-sidebar-minimize=on]:not([data-kt-app-sidebar-hoverable=true]) .app-sidebar .app-sidebar-footer .nsme {
    display: none !important;
  }
  [data-kt-app-sidebar-minimize=on]:not([data-kt-app-sidebar-hoverable=true]) .app-sidebar .app-sidebar-footer .ki-duotone {
    display: none !important;
  }
  [data-kt-app-sidebar-minimize=on]:not([data-kt-app-sidebar-hoverable=true]) .app-sidebar .app-sidebar-footer .user-setting {
    border: transparent;
  }
}
.user-setting {
  border: 1px solid #DAE7F2;
  border-radius: 6px;
  padding: 4px;
  margin: 15px;
}/*# sourceMappingURL=custom-style.css.map */